@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover-bg-navbar: #fafafc;
  --zoom-in-out: zoom-in-out 3s ease-in-out infinite;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes zoom-in-out {
  50% {
    transform: scale(0.97);
    opacity: 0.97;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
}
  /* Mobile View */
  @media (min-width: 360px) {
    .container {
      /* background-color: yellow; */
      max-width: 360px; 
    } 
    .navbar {
      justify-content: flex-end;
      gap: 32px;
      padding: 0px 10px;
    }
    .navbar .logo-container {
      margin-right: auto;
    }
    .navbar svg {
      height: 52px;
    }
    .mobile-view {
      display: flex;
    }
    .desktop-view {
      display: none;
    }
  }
  @media (min-width: 420px) {
    .container {
      /* background-color: grey; */
      max-width: 400px; 
    } 
  }
  @media (min-width: 576px) {
    .container {
      /* background-color: blue; */
      max-width: 540px; 
    } 
  }
  @media (min-width: 768px) {
    .container {
      /* background-color: orange; */
      max-width: 750px; 
    } 
  }

  /* Desktop View */
  @media (min-width: 828px) {
    .container {
      /* background-color: green; */
      max-width: 933px;
    }
    .navbar {
      justify-content: space-between;
      gap: unset;
    }
    .navbar .logo-container {
      margin-right: unset;
    }
    .navbar svg {
      height: 44px;
    }
    .mobile-view {
      display: none;
    }
    .desktop-view {
      display: flex;
    }
  }
  @media (min-width: 992px) {
    .container {
      /* background-color: red; */
      max-width: 1004px; 
    } 
  }


/* Hero Image */
.container-h-lg {
  height: 580px;
}
  @media (min-height: 760px) {
    .container-h-lg {
      /* background-color: red; */
      height: 692px; 
    } 
  }

.container-h-md {
  height: 580px;
}

.container-h-sm {
  height: 236px;
}

.container-w-sm {
  width: 236px;
}

.container-w-md {
  width: 580px;
}

.container-w-lg {
  max-width: 1260px;
}
  @media (min-width: 360px) {
    .container-w-lg {
      /* background-color: yellow; */
      max-width: 360px; 
    } 
  }
  @media (min-width: 420px) {
    .container-w-lg {
      /* background-color: grey; */
      max-width: 400px; 
    } 
  }
  @media (min-width: 576px) {
    .container-w-lg {
      /* background-color: blue; */
      max-width: 540px; 
    } 
  }
  @media (min-width: 768px) {
    .container-w-lg {
      /* background-color: green; */
      max-width: 933px; 
    } 
  }
  @media (min-width: 992px) {
    .container-w-lg {
      /* background-color: red; */
      max-width: 1260px; 
    } 
  }


.hero-image {
  object-fit: cover;
  object-position: 0 28%;
}
  @media (min-height: 760px) {
    .hero-image {
      object-position: 0 65%; 
    } 
  }